.TopMenu {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.TopMenu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-paddingVerticalTiny {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
